<body> 
        <div class="container col-12 col-md-6"> 
            <div class="modal-header"> 
                <h1 class="modal-title" >Terms of Use</h1> 
            </div> 
            <div class="modal-body"> 
                <p class="modal-description"> 
                    A Terms and Conditions agreement acts as legal contracts between you (the company) who has the website or mobile app, and the user who accesses your website/app. 
                    Having a Terms and Conditions agreement is completely optional. 
                    <br>Check out our Terms and Conditions FAQ for more helpful insight into these important agreements. 
                </p> 
                <ol class="modal-list"> 
                    <li class="list-item"> 
                        <span class="conditions">Introduction:</span>This following sets out the terms and conditions on which you may use the content on 
                        business-standard.com website, business-standard.com's mobile browser site, Business Standard instore Applications and other digital publishing services. 
                    </li> 
                    <li class="list-item"> 
                        <span class="conditions">Registration Access and Use:</span>We welcome users to register on our digital platforms. We offer the below mentioned registration services which may be subject to change in the future. All changes will be appended in the terms and conditions page and communicated to existing users by email. 
                    </li> 
                    <li class="list-item"> 
                        <span class="conditions">Privacy Policy and Registration:</span>All information received by us from your registration on business-standard.com or other digital products of Business Standard will be used by Business Standard in accordance with our Privacy Policy. Kindly read the below mentioned details. 
                        On registration, we expect you to provide Business Standard with an accurate and complete information of the compulsory fields. 
                    </li> 
                    <li class="list-item"> 
                        <span class="conditions">Cancellation Policy:</span>For Digital subscriptions by placing your order you agree that we may start your subscription immediately upon our accepting your order. This means that you are not entitled to a refund if you change your mind after we have provided you with access to your subscription. 
                    </li> 
                </ol> 
            </div> 
            <div class="modal-footer"> 
                <button type="button" class="decline" (click)="declice()">Decline</button> 
                <button type="button" class="agree  " (click)="agree()">I Agree</button> 
            </div> 
        </div> 
    </body> 
    